MYSQL_URL=jdbc:mysql://localhost:3306/employee_leave_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
MYSQL_USERNAME=root
MYSQL_PASSWORD=YOUR_MYSQL_PASSWORD
CORS_ORIGIN=http://localhost:4200
